*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: steelblue;
	text-align: center;
}
h1{ 
	letter-spacing: 4px;
	font-family: arial;
	margin: 20px 0px;
	color: darkblue;
}
.Page{
	background: transparent;
	margin: 100px 500px;
	border-radius: 20px;
	position: fixed;
	height: 400px;
	width: 350px;
	box-shadow: 2px 2px 5px #483D8B,
	-1px -1px 7px #B0E0E6;
}

.Email{
	background: transparent;
	border-radius: 20px;
	text-align: center;
	font-weight: bold;
	margin: 5px 30px;
	font-size: 20px;
	color: #4B0082;
	outline: none;
	border: none;
	width: 300px;
	height: 45px;
	box-shadow: inset 2px 2px 5px #483D8B,
	        inset -1px -1px 5px lightgray;
}
.Pswrd{
	background: transparent;
	border-radius: 20px;
	text-align: center;	
	font-weight: bold;
	margin: 20px 30px;
	font-size: 20px;
	color: #4B0082;
	outline: none;
	border: none;
	width: 300px;
	height: 45px;	
	box-shadow: inset 2px 2px 5px #483D8B,
	        inset -1px -1px 5px lightgray;
}
.Btn{
	background: transparent;
	border-radius: 20px;
	text-align: center;
	font-weight: bold;
	margin: 20px 30px;
	font-size: 20px;
	color: darkblue;
	outline: none;
	border: none;
	width: 150px;
	height: 45px;
	box-shadow: 2px 2px 5px #483D8B,
	         -1px -1px 5px lightgray;
}
input::placeholder{
	color: darkgray;
}
h2{
	margin: -15px 0px;
	font-size: 20px;
}
h3{
	margin: 25px -10px;
	font-size: 25px;
}
a{
	color: darkblue;
}